body {
  background-image: linear-gradient(rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url("https://www.alamy.com/studio-microphone-with-shock-mount-and-pop-filter-on-professional-tripod-in-acoustic-foam-room-for-best-sound-production-on-air-and-mix-process-in-mus-image242989809.html?pv=1&stamp=2&imageid=D98B61E8-9596-41BF-8193-CCCC8A235923&p=371903&n=0&orientation=0&pn=1&searchtype=0&IsFromSearch=1&srch=foo%3dbar%26st%3d0%26pn%3d1%26ps%3d100%26sortby%3d2%26resultview%3dsortbyPopular%26npgs%3d0%26qt%3drecording%2520studio%26qt_raw%3drecording%2520studio%26lic%3d3%26mr%3d0%26pr%3d0%26ot%3d0%26creative%3d%26ag%3d0%26hc%3d0%26pc%3d%26blackwhite%3d1%26cutout%3d%26tbar%3d1%26et%3d0x000000000000000000000%26vp%3d0%26loc%3d0%26imgt%3d0%26dtfr%3d%26dtto%3d%26size%3d0xFF%26archive%3d1%26groupid%3d%26pseudoid%3d%26a%3d%26cdid%3d%26cdsrt%3d%26name%3d%26qn%3d%26apalib%3d%26apalic%3d%26lightbox%3d%26gname%3d%26gtype%3d%26xstx%3d0%26simid%3d%26saveQry%3d%26editorial%3d1%26nu%3d%26t%3d%26edoptin%3d%26customgeoip%3d%26cap%3d1%26cbstore%3d1%26vd%3d0%26lb%3d%26fi%3d2%26edrf%3d%26ispremium%3d1%26flip%3d0%26pl%3d");
  background-size: cover;
  /*background-color: #F7F9FC;*/
  font-family: 'Open Sans', sans-serif;
  color: #2c3b46;
  font-size: 15px;
  font-weight: 400;
  margin: 8px;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
  font-weight: bold;
}

h2 {
  font-size: 14px
  font-weight: lighter;
}

p {
  padding-bottom: 30px;
  opacity: 0.8;
}

a {
  text-decoration: none;
  color: #596da1;
  font-weight: 600;
  font-size: 14px;
}

li {
  list-style: none;
  display: inline;
  padding: 5px;
}

i {
  color: ;
  font-weight: lighter;
  font-size: 35px;
}

i:hover {
  opacity: 0.5;
  text-decoration: none;
}

ul {
  padding: 0;
}

.card {
  padding: 40px;
  font-weight: lighter;
  text-align: center;
  border-style: solid;
  border-radius: 5px;
  background-color: white;
  margin: 20px 400px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-color: white;
}

.img_circle {
  border-radius: 50%;
}

.button_blue {
  background-color: #576ca0;
    color: white;
    padding: 15px 20px;
    border-radius: 4px;
}

.button_blue:hover {
  opacity: 1;
  text-decoration: none;
  background-color: black;
}

/*#banner{
  text-align: center;
  background-image: linear-gradient(rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url("https://unsplash.it/1300/600?random");

  background-size: cover;
  padding: 150px;
  color: white;
}*/


@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}





